# Road Traffic Fine Management

### Expected Process

The process starts with the Create Fine that writes four variables: Amount, Points, Payment and Dismissal. Amount refers to the amount that needs to be paid by the offender, Points records the number of points that are deducted from the offender's license. Payment is the total amount that has been paid by the offender. The offender can pay the fine partly or fully at many moments in time. After the creation of the fine, the fine notification is sent by the police to the offender's place of residence. If the entire amount is paid, the fine is closed.

If a notification is sent, the offender needs to pay the postal expenses. If the offender does not pay within 180 days, a penalty is added, usually as much as the fine's amount. After being notified by post, the offender can appeal against the fine throuh a judge and/or the prefecture. If the appeal is successful, the variable dismissal is set to G or # and the case ends. If the offender does not pay, the fine is handed over for credit collection.

The fine must be sent within 90 days since it's creation else the fine expires (for non-italian residents, the limit to notify the offender is 360 days). After fine notification, the offender may only appeal to a judge/prefecture within 60 days. The prefect has 210 days to respond if you send the letter directly to his address. If the Prefect doesn't respond, the appeal is considered accepted and you will be free of debt. If you send the letter to the authority that issued you the ticket, it will have 180 days. If your appeal is accepted, your case will be archived within 120 days. If it is rejected, the Prefect will notify the offender within 150 days and the offender will have 30 days to make the payment (double the fine).

##### Revision to the law
Revisions to Italy’s highway code have been approved by the Italian parliament – new law n.120, dated 29 July, 2010.  Since August 13th  2010, the amount of time traffic fines have to be sent out to Italian residents has been reduced from 150 days to 90 days – Art. 201,1 – Notificazione delle violazioni (Notifcation of violations). For foreign residents the 360 day period for sending out fines is unchanged.

##### Appeal to a judge
Foreigners have 60 days from the notification to appeal to the judge. For Italian residents, the time limit is 30 days. If it is rejected, the offender will have 30 days to make the payment.

You have 60 days from the notification to pay your ticket. If you pay within 5 days, you'll get 30% discount for early payment. If you pay within 60 days, you can still get a discount. If you do not pay after 60 days, you will have to pay the full cost of the fine. The amount can also double.

If you do not pay after 60 days, it will become an enforcement order. Every semester, the ticket will increase by 10% due to interest. They can outsource the fine to a debt collection agency.

* Is there a situation where a case do not start with creating a fine? Done
* Are there situations where the fines is not sent within 150 days? Done
* No of cases where fine was notified and not paid 60 days later, but no penalty was added. Penalty is added automatically after 60 days
* Are there cases where the offender appealed to a judge/prefect after 60 days? Done
* For cases where the the offender has appealed to the prefect, did the prefect respond within 210 days?
* How long does it take to send the fine for collection? Longer than 180 days?
* No of cases above 180 days and no penalty was added
* Amount lost due to a successful appeal? Done
* Amount not sent to credit collection agency after 180 days
* Amount collected from credit collection agency

In [1]:
import pandas as pd
import graphviz
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Road traffic fine manaement process.csv')
df['startTime'] = pd.to_datetime(df['startTime'])
df['completeTime'] = pd.to_datetime(df['completeTime'])
df = df.sort_values(by=['case','startTime','completeTime','event'],ascending=True).reset_index(drop=True)

df

,case,event,startTime,completeTime,amount,notificationType,expense,lastSent,paymentAmount,article,points,org:resource,dismissal,vehicleClass,totalPaymentAmount,matricola
0,A1,Create Fine,2006-07-23 23:00:00,2006-07-23 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN
1,A1,Send Fine,2006-12-05 00:00:00,2006-12-05 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN
2,A100,Create Fine,2006-08-01 23:00:00,2006-08-01 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN
3,A100,Send Fine,2006-12-12 00:00:00,2006-12-12 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN
4,A100,Insert Fine Notification,2007-01-15 00:00:00,2007-01-15 00:00:00,35.0,P,11.00,P,NaN,157,0,561,NIL,A,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,V9999,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,0,25,NIL,A,0.0,NaN
561466,V9999,Send Fine,2002-10-24 23:00:00,2002-10-24 23:00:00,131.0,NaN,15.16,NaN,NaN,142,0,25,NIL,A,0.0,NaN
561467,V9999,Insert Fine Notification,2002-11-04 00:00:00,2002-11-04 00:00:00,131.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN
561468,V9999,Add penalty,2003-01-03 00:00:00,2003-01-03 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN
561469,V9999,Send for Credit Collection,2004-01-10 00:00:00,2004-01-10 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN

In [3]:
df.columns

Index(['case', 'event', 'startTime', 'completeTime', 'amount',
       'notificationType', 'expense', 'lastSent', 'paymentAmount', 'article',
       'points', 'org:resource', 'dismissal', 'vehicleClass',
       'totalPaymentAmount', 'matricola'],
      dtype='object')

In [4]:
df[df['event'] == 'Create Fine']['startTime'].max()

Timestamp('2013-06-17 23:00:00')

For simplicity, we will be using only those cases which occured before 13th August 2010 (before the revision to the law)

In [5]:
xxx1 = df.copy()
xxx1 = xxx1[xxx1['event'] == 'Create Fine']
xxx1 = xxx1[['case','event','startTime']]
xxx1['Revised_Law'] = xxx1.apply(lambda x: 'Before' if (x['startTime'] < pd.Timestamp(2010,8,13)) else 'After',axis=1)
# xxx1['Revised_Law'] = xxx1.apply(lambda x: 'Before' if (x['startTime'] < pd.Timestamp(2012,7,1)) else 'After',axis=1)
xxx1 = xxx1[['case','Revised_Law']]
xxx1

          case Revised_Law
0           A1      Before
2         A100      Before
7       A10000      Before
12      A10001      Before
18      A10004      Before
...        ...         ...
561447   V9995      Before
561452   V9996      Before
561455   V9997      Before
561460   V9998      Before
561465   V9999      Before

[150370 rows x 2 columns]

In [6]:
xxx1[xxx1['Revised_Law'] == 'Before']

          case Revised_Law
0           A1      Before
2         A100      Before
7       A10000      Before
12      A10001      Before
18      A10004      Before
...        ...         ...
561447   V9995      Before
561452   V9996      Before
561455   V9997      Before
561460   V9998      Before
561465   V9999      Before

[132760 rows x 2 columns]

In [7]:
df.merge(xxx1, on='case')

,case,event,startTime,completeTime,amount,notificationType,expense,lastSent,paymentAmount,article,points,org:resource,dismissal,vehicleClass,totalPaymentAmount,matricola,Revised_Law
0,A1,Create Fine,2006-07-23 23:00:00,2006-07-23 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before
1,A1,Send Fine,2006-12-05 00:00:00,2006-12-05 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before
2,A100,Create Fine,2006-08-01 23:00:00,2006-08-01 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before
3,A100,Send Fine,2006-12-12 00:00:00,2006-12-12 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before
4,A100,Insert Fine Notification,2007-01-15 00:00:00,2007-01-15 00:00:00,35.0,P,11.00,P,NaN,157,0,561,NIL,A,0.0,NaN,Before
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,V9999,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,0,25,NIL,A,0.0,NaN,Before
561466,V9999,Send Fine,2002-10-24 23:00:00,2002-10-24 23:00:00,131.0,NaN,15.16,NaN,NaN,142,0,25,NIL,A,0.0,NaN,Before
561467,V9999,Insert Fine Notification,2002-11-04 00:00:00,2002-11-04 00:00:00,131.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before
561468,V9999,Add penalty,2003-01-03 00:00:00,2003-01-03 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before
561469,V9999,Send for Credit Collection,2004-01-10 00:00:00,2004-01-10 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before

In [8]:
df_2 = df.merge(xxx1, on="case", how='left').reset_index(drop=True)
df_2

,case,event,startTime,completeTime,amount,notificationType,expense,lastSent,paymentAmount,article,points,org:resource,dismissal,vehicleClass,totalPaymentAmount,matricola,Revised_Law
0,A1,Create Fine,2006-07-23 23:00:00,2006-07-23 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before
1,A1,Send Fine,2006-12-05 00:00:00,2006-12-05 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before
2,A100,Create Fine,2006-08-01 23:00:00,2006-08-01 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before
3,A100,Send Fine,2006-12-12 00:00:00,2006-12-12 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before
4,A100,Insert Fine Notification,2007-01-15 00:00:00,2007-01-15 00:00:00,35.0,P,11.00,P,NaN,157,0,561,NIL,A,0.0,NaN,Before
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,V9999,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,0,25,NIL,A,0.0,NaN,Before
561466,V9999,Send Fine,2002-10-24 23:00:00,2002-10-24 23:00:00,131.0,NaN,15.16,NaN,NaN,142,0,25,NIL,A,0.0,NaN,Before
561467,V9999,Insert Fine Notification,2002-11-04 00:00:00,2002-11-04 00:00:00,131.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before
561468,V9999,Add penalty,2003-01-03 00:00:00,2003-01-03 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before
561469,V9999,Send for Credit Collection,2004-01-10 00:00:00,2004-01-10 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before

In [9]:
df_2['Count'] = df_2.groupby('case').cumcount()+1

In [10]:
df_2['Cum_Duration'] = df_2.groupby(['case'])['startTime'].transform(lambda x: (x-x.iloc[0]).dt.days)
df_2

,case,event,startTime,completeTime,amount,notificationType,expense,lastSent,paymentAmount,article,points,org:resource,dismissal,vehicleClass,totalPaymentAmount,matricola,Revised_Law,Count,Cum_Duration
0,A1,Create Fine,2006-07-23 23:00:00,2006-07-23 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before,1,0
1,A1,Send Fine,2006-12-05 00:00:00,2006-12-05 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before,2,134
2,A100,Create Fine,2006-08-01 23:00:00,2006-08-01 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before,1,0
3,A100,Send Fine,2006-12-12 00:00:00,2006-12-12 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Before,2,132
4,A100,Insert Fine Notification,2007-01-15 00:00:00,2007-01-15 00:00:00,35.0,P,11.00,P,NaN,157,0,561,NIL,A,0.0,NaN,Before,3,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,V9999,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,0,25,NIL,A,0.0,NaN,Before,1,0
561466,V9999,Send Fine,2002-10-24 23:00:00,2002-10-24 23:00:00,131.0,NaN,15.16,NaN,NaN,142,0,25,NIL,A,0.0,NaN,Before,2,48
561467,V9999,Insert Fine Notification,2002-11-04 00:00:00,2002-11-04 00:00:00,131.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before,3,58
561468,V9999,Add penalty,2003-01-03 00:00:00,2003-01-03 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before,4,118
561469,V9999,Send for Credit Collection,2004-01-10 00:00:00,2004-01-10 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Before,5,490

In [11]:
# df_2.to_csv('Road Traffic Fine Management_2.csv', index=False)

In [12]:
df['article'].value_counts()

157    245424
7      155326
158    102726
142     27926
180      5079
        ...
218         4
132         4
135         2
187         2
144         2
Name: article, Length: 66, dtype: int64

In [13]:
df['startTime'].min()

Timestamp('2000-01-01 00:00:00')

In [14]:
df_copy = df.copy()
df_copy = df_copy[['case','startTime','event']]
df_copy

         case           startTime                       event
0          A1 2006-07-23 23:00:00                 Create Fine
1          A1 2006-12-05 00:00:00                   Send Fine
2        A100 2006-08-01 23:00:00                 Create Fine
3        A100 2006-12-12 00:00:00                   Send Fine
4        A100 2007-01-15 00:00:00    Insert Fine Notification
...       ...                 ...                         ...
561465  V9999 2002-09-06 23:00:00                 Create Fine
561466  V9999 2002-10-24 23:00:00                   Send Fine
561467  V9999 2002-11-04 00:00:00    Insert Fine Notification
561468  V9999 2003-01-03 00:00:00                 Add penalty
561469  V9999 2004-01-10 00:00:00  Send for Credit Collection

[561470 rows x 3 columns]

In [15]:
# Variants
variants33 = df_copy.copy()
variants33['Count'] = variants33.groupby('case').cumcount()+1
variants33 = variants33.pivot(index='case', columns='Count', values='event')
variants33_col = variants33.columns
variants33 = variants33.fillna('X')
variants33 = variants33.astype('str')
variants33['Trace'] = variants33.apply(lambda x: ','.join(x),axis=1)
variants33['Trace'] = variants33['Trace'].apply(lambda x: x.replace(',X',''))
# variants

variants_num33 = variants33[['Trace',1]].groupby(['Trace'], as_index=False).count()
variants_num33 = variants_num33.sort_values(by=1, ascending=False).reset_index()
del variants_num33['index']
variants_num33 = variants_num33.reset_index()
variants_num33['index'] = variants_num33['index']+1
variants_num33 = variants_num33.rename(columns={'index':'Variants',1:'No of occurance'})

variants_num33

Count,Variants,Trace,No of occurance
0,1,"Create Fine,Send Fine,Insert Fine Notification...",54435
1,2,"Create Fine,Payment",46371
2,3,"Create Fine,Send Fine",20385
3,4,"Create Fine,Send Fine,Insert Fine Notification...",8971
4,5,"Create Fine,Send Fine,Insert Fine Notification...",3688
...,...,...,...
255,256,"Create Fine,Send Fine,Insert Fine Notification...",1
256,257,"Create Fine,Send Fine,Insert Fine Notification...",1
257,258,"Create Fine,Send Fine,Insert Fine Notification...",1
258,259,"Create Fine,Send Fine,Insert Fine Notification...",1
259,260,"Create Fine,Send Fine,Send Appeal to Prefectur...",1

In [16]:
variants33_2 = variants33.copy()
variants33_2 = variants33_2.reset_index()
variants33_2 = variants33_2.merge(variants_num33, on='Trace', how='left')
variants33_2 = variants33_2[['case','Variants']]
variants33_2

Count     case  Variants
0           A1         3
1         A100         1
2       A10000         4
3       A10001         8
4       A10004         1
...        ...       ...
150365   V9995         1
150366   V9996         7
150367   V9997         1
150368   V9998         1
150369   V9999         1

[150370 rows x 2 columns]

In [17]:
timing_detils = df_2.copy()
timing_detils = timing_detils.pivot(index='case',columns='Count', values='startTime')
timing_detils

Count,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
case,,,,,,,,,,,,,,,,,,,,
A1,2006-07-23 23:00:00,2006-12-05 00:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
A100,2006-08-01 23:00:00,2006-12-12 00:00:00,2007-01-15 00:00:00,2007-03-16 00:00:00,2009-03-29 23:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
A10000,2007-03-09 00:00:00,2007-07-16 23:00:00,2007-08-01 23:00:00,2007-09-30 23:00:00,2008-09-08 23:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
A10001,2007-03-19 00:00:00,2007-07-16 23:00:00,2007-07-24 23:00:00,2007-08-01 23:00:00,2007-09-22 23:00:00,2007-09-23 23:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
A10004,2007-03-20 00:00:00,2007-07-16 23:00:00,2007-07-23 23:00:00,2007-09-21 23:00:00,2009-03-29 23:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
V9995,2002-09-06 23:00:00,2002-10-24 23:00:00,2002-11-05 00:00:00,2003-01-04 00:00:00,2004-01-10 00:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
V9996,2002-09-06 23:00:00,2002-10-24 23:00:00,2002-11-06 00:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
V9997,2002-09-06 23:00:00,2002-10-24 23:00:00,2002-11-04 00:00:00,2003-01-03 00:00:00,2004-01-10 00:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
V9998,2002-09-06 23:00:00,2002-10-24 23:00:00,2002-10-31 00:00:00,2002-12-30 00:00:00,2004-01-10 00:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
V9999,2002-09-06 23:00:00,2002-10-24 23:00:00,2002-11-04 00:00:00,2003-01-03 00:00:00,2004-01-10 00:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [18]:
timing_detils['Max'] = timing_detils.apply(max, axis=1)
timing_detils['Case Duration'] = timing_detils['Max'] - timing_detils[1]
timing_detils['Case Duration'] = timing_detils['Case Duration'].apply(lambda x: round(x.total_seconds(),0))
timing_detils['Case Duration'] = round(timing_detils['Case Duration']/86400,0).astype(int)
timing_detils = timing_detils.drop(variants33_col, axis=1)
timing_detils

Count                  Max  Case Duration
case
A1     2006-12-05 00:00:00            134
A100   2009-03-29 23:00:00            971
A10000 2008-09-08 23:00:00            550
A10001 2007-09-23 23:00:00            189
A10004 2009-03-29 23:00:00            741
...                    ...            ...
V9995  2004-01-10 00:00:00            490
V9996  2002-11-06 00:00:00             60
V9997  2004-01-10 00:00:00            490
V9998  2004-01-10 00:00:00            490
V9999  2004-01-10 00:00:00            490

[150370 rows x 2 columns]

In [19]:
timing_detils_2 = timing_detils.copy()
timing_detils_2 = timing_detils_2.reset_index()
timing_detils_2 = timing_detils_2[['case','Case Duration']]
timing_detils_2

Count     case  Case Duration
0           A1            134
1         A100            971
2       A10000            550
3       A10001            189
4       A10004            741
...        ...            ...
150365   V9995            490
150366   V9996             60
150367   V9997            490
150368   V9998            490
150369   V9999            490

[150370 rows x 2 columns]

In [20]:
other_info = df_2.copy()
# other_info = other_info[['Key', 'Product_hierarchy','NetValue', 'Company', 'Customer', 'OrderType','Count']]
other_info = other_info[other_info['Count'] == 1].reset_index(drop=True)
other_info = other_info.merge(timing_detils_2,on='case',how='outer')
other_info = other_info.merge(variants33_2,on='case',how='outer')
other_info

,case,event,startTime,completeTime,amount,notificationType,expense,lastSent,paymentAmount,article,...,org:resource,dismissal,vehicleClass,totalPaymentAmount,matricola,Revised_Law,Count,Cum_Duration,Case Duration,Variants
0,A1,Create Fine,2006-07-23 23:00:00,2006-07-23 23:00:00,35.0,NaN,NaN,NaN,NaN,157,...,561,NIL,A,0.0,NaN,Before,1,0,134,3
1,A100,Create Fine,2006-08-01 23:00:00,2006-08-01 23:00:00,35.0,NaN,NaN,NaN,NaN,157,...,561,NIL,A,0.0,NaN,Before,1,0,971,1
2,A10000,Create Fine,2007-03-09 00:00:00,2007-03-09 00:00:00,36.0,NaN,NaN,NaN,NaN,157,...,561,NIL,A,0.0,NaN,Before,1,0,550,4
3,A10001,Create Fine,2007-03-19 00:00:00,2007-03-19 00:00:00,36.0,NaN,NaN,NaN,NaN,157,...,537,NIL,A,0.0,NaN,Before,1,0,189,8
4,A10004,Create Fine,2007-03-20 00:00:00,2007-03-20 00:00:00,36.0,NaN,NaN,NaN,NaN,157,...,537,NIL,A,0.0,NaN,Before,1,0,741,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150365,V9995,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,...,25,NIL,A,0.0,NaN,Before,1,0,490,1
150366,V9996,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,...,25,NIL,A,0.0,NaN,Before,1,0,60,7
150367,V9997,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,...,25,NIL,M,0.0,NaN,Before,1,0,490,1
150368,V9998,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,...,25,NIL,A,0.0,NaN,Before,1,0,490,1
150369,V9999,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,...,25,NIL,A,0.0,NaN,Before,1,0,490,1

In [21]:
other_info = other_info.drop(['amount','notificationType','expense','lastSent','dismissal','totalPaymentAmount','matricola','completeTime','paymentAmount'], axis=1)
other_info

,case,event,startTime,article,points,org:resource,vehicleClass,Revised_Law,Count,Cum_Duration,Case Duration,Variants
0,A1,Create Fine,2006-07-23 23:00:00,157,0,561,A,Before,1,0,134,3
1,A100,Create Fine,2006-08-01 23:00:00,157,0,561,A,Before,1,0,971,1
2,A10000,Create Fine,2007-03-09 00:00:00,157,0,561,A,Before,1,0,550,4
3,A10001,Create Fine,2007-03-19 00:00:00,157,0,537,A,Before,1,0,189,8
4,A10004,Create Fine,2007-03-20 00:00:00,157,0,537,A,Before,1,0,741,1
...,...,...,...,...,...,...,...,...,...,...,...,...
150365,V9995,Create Fine,2002-09-06 23:00:00,142,0,25,A,Before,1,0,490,1
150366,V9996,Create Fine,2002-09-06 23:00:00,142,0,25,A,Before,1,0,60,7
150367,V9997,Create Fine,2002-09-06 23:00:00,142,0,25,M,Before,1,0,490,1
150368,V9998,Create Fine,2002-09-06 23:00:00,142,0,25,A,Before,1,0,490,1
150369,V9999,Create Fine,2002-09-06 23:00:00,142,0,25,A,Before,1,0,490,1

In [22]:
# other_info.to_csv('other_info.csv', index=False)

In [23]:
df_2[df_2['points'] > 0].groupby(['article','points']).count()

                case  event  startTime  completeTime  amount  \
article points
40      2          5      5          5             5       5
141     5        129    129        129           129     129
142     2       1838   1838       1838          1838    1838
        3        668    668        668           668     668
        5       3667   3667       3667          3667    3667
        6         25     25         25            25      25
        10       313    313        313           313     313
143     4         42     42         42            42      42
        10         5      5          5             5       5
145     5        122    122        122           122     122
        6         73     73         73            73      73
146     2        340    340        340           340     340
        6        859    859        859           859     859
148     3         19     19         19            19      19
        5         16     16         16            16      16
        10        27     27         27            27      27
149     3         43     43         43            43      43
        5         15     15         15            15      15
154     2         48     48         48            48      48
158     2       7947   7947       7947          7947    7947
161     2          5      5          5             5       5
164     3          6      6          6             6       6
169     1          6      6          6             6       6
        2         21     21         21            21      21
170     1          5      5          5             5       5
171     5         67     67         67            67      67
172     5        900    900        900           900     900
173     5        299    299        299           299     299
186     10         6      6          6             6       6
189     2         26     26         26            26      26
        4         22     22         22            22      22
        10         2      2          2             2       2
191     4          6      6          6             6       6
        5        213    213        213           213     213
        8        118    118        118           118     118
192     3         13     13         13            13      13

                notificationType  expense  lastSent  paymentAmount  \
article points
40      2                      3        4         0              0
141     5                     79      104        73              3
142     2                   1153     1497      1137            133
        3                    382      526       379             41
        5                   2263     2966      2257            198
        6                     15       20        15              0
        10                   197      255       193             20
143     4                     26       34        23              1
        10                     3        4         3              0
145     5                     78      100        75              8
        6                     45       59        42              2
146     2                    200      270       200             18
        6                    508      684       497             33
148     3                     13       16        13              0
        5                     10       13        10              1
        10                    17       22        17              0
149     3                     27       35        24              2
        5                      9       12         6              0
154     2                     30       39        30              5
158     2                   4681     6315      4617            373
161     2                      3        4         3              0
164     3                      4        5         4              0
169     1                      4        5         4              0
        2                     13       17        13              3
170     1                      3        4         3              0
171     5                     43       55        43              1
172     5                    542      721       529             61
173     5                    184      242       181             23
186     10                     4        5         4              0
189     2                     16       21        16              4
        4                     12       16         6              2
        10                     0        1         0              0
191     4                      4        5         4              0
        5                    139      176       139              9
        8                     63       91        63              9
192     3                      9       11         9              1

                org:resource  dismissal  vehicleClass  totalPaymentAmount  \
article points
40      2                  5          5             5                   5
141     5                129        129           129                 129
142     2               1838       1838          1838                1838
        3                668        668           668                 668
        5               3667       3667          3667                3667
        6                 25         25            25                  25
        10               313        313           313                 313
143     4                 42         42            42                  42
        10                 5          5             5                   5
145     5                122        122           122                 122
        6                 73         73            73                  73
146     2                340        340           340                 340
        6                859        859           859                 859
148     3                 19         19            19                  19
        5                 16         16            16                  16
        10                27         27            27                  27
149     3                 43         43            43                  43
        5                 15         15            15                  15
154     2                 48         48            48                  48
158     2               7947       7947          7947                7947
161     2                  5          5             5                   5
164     3                  6          6             6                   6
169     1                  6          6             6                   6
        2                 21         21            21                  21
170     1                  5          5             5                   5
171     5                 67         67            67                  67
172     5                900        900           900                 900
173     5                299        299           299                 299
186     10                 6          6             6                   6
189     2                 26         26            26                  26
        4                 22         22            22                  22
        10                 2          2             2                   2
191     4                  6          6             6                   6
        5                213        213           213                 213
        8                118        118           118                 118
192     3                 13         13            13                  13

                matricola  Revised_Law  Count  Cum_Duration
article points
40      2               0            5      5             5
141     5               2          129    129           129
142     2              41         1838   1838          1838
        3              12          668    668           668
        5             153         3667   3667          3667
        6               0           25     25            25
        10             14          313    313           313
143     4               0           42     42            42
        10              0            5      5             5
145     5               3          122    122           122
        6               4           73     73            73
146     2               4          340    340           340
        6              25          859    859           859
148     3               0           19     19            19
        5               0           16     16            16
        10              0           27     27            27
149     3               3           43     43            43
        5               0           15     15            15
154     2               0           48     48            48
158     2              29         7947   7947          7947
161     2               0            5      5             5
164     3               3            6      6             6
169     1               0            6      6             6
        2               0           21     21            21
170     1               0            5      5             5
171     5               6           67     67            67
172     5               3          900    900           900
173     5               3          299    299           299
186     10              0            6      6             6
189     2               0           26     26            26
        4               0           22     22            22
        10              0            2      2             2
191     4               0            6      6             6
        5              22          213    213           213
        8               0          118    118           118
192     3               2           13     13            13

In [24]:
df_2['dismissal'].value_counts()

NIL    558256
#        2038
A         426
T         222
G         105
D          79
I          58
N          56
@          46
C          24
U          22
V          20
5          20
Z          15
E          14
4          11
M          10
F           8
$           8
R           8
3           6
K           6
B           4
2           4
Q           2
J           2
Name: dismissal, dtype: int64

In [25]:
# variants_num33.to_csv('Variants.csv', index=False)

In [26]:
list(variants_num33['Trace'][:7])

['Create Fine,Send Fine,Insert Fine Notification,Add penalty,Send for Credit Collection',
 'Create Fine,Payment',
 'Create Fine,Send Fine',
 'Create Fine,Send Fine,Insert Fine Notification,Add penalty,Payment',
 'Create Fine,Send Fine,Insert Fine Notification,Add penalty,Payment,Payment',
 'Create Fine,Send Fine,Insert Fine Notification,Payment,Add penalty,Payment',
 'Create Fine,Send Fine,Payment']

In [27]:
# Timing details
newxox2_td = df_copy.copy()
sort11 = newxox2_td.iloc[:-1,:]
sort22 = newxox2_td.iloc[1:,:].reset_index(drop=True)
sortnew2 = pd.concat([sort11,sort22],axis=1)

sortnew2.columns = ['case','startTime','startEvent','case2','endTime','endEvent']
sortnew2['Comparison'] = sortnew2.apply(lambda x: True if x['case'] == x['case2'] else False,axis=1)
sortnew2 = sortnew2[sortnew2['Comparison'] == True]
sortnew2

sortnewtime = sortnew2.copy()
sortnewtime['Duration'] = (sortnewtime['endTime'] - sortnewtime['startTime']).dt.days
sortnewtime['Duration'] = round(sortnewtime['Duration'],0)
sortnewtime['Duration'] = sortnewtime['Duration'].astype('int')

sortnewtime

,case,startTime,startEvent,case2,endTime,endEvent,Comparison,Duration
0,A1,2006-07-23 23:00:00,Create Fine,A1,2006-12-05 00:00:00,Send Fine,True,134
2,A100,2006-08-01 23:00:00,Create Fine,A100,2006-12-12 00:00:00,Send Fine,True,132
3,A100,2006-12-12 00:00:00,Send Fine,A100,2007-01-15 00:00:00,Insert Fine Notification,True,34
4,A100,2007-01-15 00:00:00,Insert Fine Notification,A100,2007-03-16 00:00:00,Add penalty,True,60
5,A100,2007-03-16 00:00:00,Add penalty,A100,2009-03-29 23:00:00,Send for Credit Collection,True,744
...,...,...,...,...,...,...,...,...
561463,V9998,2002-12-30 00:00:00,Add penalty,V9998,2004-01-10 00:00:00,Send for Credit Collection,True,376
561465,V9999,2002-09-06 23:00:00,Create Fine,V9999,2002-10-24 23:00:00,Send Fine,True,48
561466,V9999,2002-10-24 23:00:00,Send Fine,V9999,2002-11-04 00:00:00,Insert Fine Notification,True,10
561467,V9999,2002-11-04 00:00:00,Insert Fine Notification,V9999,2003-01-03 00:00:00,Add penalty,True,60
561468,V9999,2003-01-03 00:00:00,Add penalty,V9999,2004-01-10 00:00:00,Send for Credit Collection,True,372

In [28]:
# sortnewtime.to_csv('Timing details.csv', index=False)

In [29]:
561470 -411100

150370

In [30]:
sortnewtime.pivot_table(index='startEvent', columns='endEvent', values='case',aggfunc='count').fillna(0)

endEvent,Add penalty,Appeal to Judge,Insert Date Appeal to Prefecture,Insert Fine Notification,Notify Result Appeal to Offender,Payment,Receive Result Appeal from Prefecture,Send Appeal to Prefecture,Send Fine,Send for Credit Collection
startEvent,,,,,,,,,,
Add penalty,0.0,80.0,658.0,0.0,53.0,18621.0,351.0,2915.0,0.0,57182.0
Appeal to Judge,281.0,0.0,15.0,0.0,9.0,70.0,1.0,9.0,4.0,32.0
Create Fine,0.0,4.0,22.0,2893.0,0.0,46952.0,0.0,0.0,100499.0,0.0
Insert Date Appeal to Prefecture,2933.0,7.0,0.0,25.0,0.0,14.0,35.0,1159.0,15.0,0.0
Insert Fine Notification,69602.0,254.0,3207.0,0.0,0.0,3886.0,2.0,16.0,2893.0,0.0
Notify Result Appeal to Offender,12.0,145.0,0.0,0.0,0.0,391.0,2.0,3.0,0.0,257.0
Payment,3902.0,2.0,2.0,74.0,1.0,4306.0,2.0,4.0,569.0,1538.0
Receive Result Appeal from Prefecture,51.0,13.0,1.0,0.0,829.0,36.0,0.0,15.0,0.0,1.0
Send Appeal to Prefecture,347.0,4.0,2.0,4.0,4.0,20.0,606.0,0.0,7.0,3.0
Send Fine,2732.0,46.0,281.0,76864.0,0.0,3305.0,0.0,4.0,0.0,0.0
Send for Credit Collection,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0

In [31]:
%timeit sortnewtime[(sortnewtime['startEvent'] == 'Create Fine') & (sortnewtime['endEvent'] == 'Send Fine')]
%timeit sortnewtime.query('startEvent=="Create Fine" & endEvent=="Send Fine" ')

65.3 ms ± 5.26 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
46.6 ms ± 4.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

### Delay in sending fine

In [32]:
delay_test_2 = sortnewtime.copy()
delay_test_2['Delay_send'] = delay_test_2.query('startEvent=="Create Fine" & endEvent=="Send Fine" ').apply(lambda x: 1 if (x['Duration'] > 150) & (x['startTime'] > pd.Timestamp(2010,8,13)) else 1 if (x['Duration'] > 90) & (x['startTime'] < pd.Timestamp(2010,8,13)) else 0,axis=1)
delay_test_2['Delay_prefecture'] = delay_test_2.query('endEvent=="Insert Date Appeal to Prefecture" ').apply(lambda x: 1 if (x['Duration'] > 60) else 0,axis=1)
delay_test_2['Delay_judge'] = delay_test_2.query('endEvent=="Appeal to Judge" ').apply(lambda x: 1 if (x['Duration'] > 60) else 0,axis=1)
delay_test_2

,case,startTime,startEvent,case2,endTime,endEvent,Comparison,Duration,Delay_send,Delay_prefecture,Delay_judge
0,A1,2006-07-23 23:00:00,Create Fine,A1,2006-12-05 00:00:00,Send Fine,True,134,1.0,NaN,NaN
2,A100,2006-08-01 23:00:00,Create Fine,A100,2006-12-12 00:00:00,Send Fine,True,132,1.0,NaN,NaN
3,A100,2006-12-12 00:00:00,Send Fine,A100,2007-01-15 00:00:00,Insert Fine Notification,True,34,NaN,NaN,NaN
4,A100,2007-01-15 00:00:00,Insert Fine Notification,A100,2007-03-16 00:00:00,Add penalty,True,60,NaN,NaN,NaN
5,A100,2007-03-16 00:00:00,Add penalty,A100,2009-03-29 23:00:00,Send for Credit Collection,True,744,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
561463,V9998,2002-12-30 00:00:00,Add penalty,V9998,2004-01-10 00:00:00,Send for Credit Collection,True,376,NaN,NaN,NaN
561465,V9999,2002-09-06 23:00:00,Create Fine,V9999,2002-10-24 23:00:00,Send Fine,True,48,0.0,NaN,NaN
561466,V9999,2002-10-24 23:00:00,Send Fine,V9999,2002-11-04 00:00:00,Insert Fine Notification,True,10,NaN,NaN,NaN
561467,V9999,2002-11-04 00:00:00,Insert Fine Notification,V9999,2003-01-03 00:00:00,Add penalty,True,60,NaN,NaN,NaN
561468,V9999,2003-01-03 00:00:00,Add penalty,V9999,2004-01-10 00:00:00,Send for Credit Collection,True,372,NaN,NaN,NaN

In [33]:
delay_test_2['Delay_send'].value_counts()

0.0    51867
1.0    48632
Name: Delay_send, dtype: int64

In [34]:
df_2['event'].value_counts()

Create Fine                              150370
Send Fine                                103987
Insert Fine Notification                  79860
Add penalty                               79860
Payment                                   77601
Send for Credit Collection                59013
Insert Date Appeal to Prefecture           4188
Send Appeal to Prefecture                  4141
Receive Result Appeal from Prefecture       999
Notify Result Appeal to Offender            896
Appeal to Judge                             555
Name: event, dtype: int64

### Total amount versus payment

In [35]:
money_ish = df.copy()
money_ish = money_ish[['case','event','startTime','amount','expense','paymentAmount','totalPaymentAmount']]
money_ish

,case,event,startTime,amount,expense,paymentAmount,totalPaymentAmount
0,A1,Create Fine,2006-07-23 23:00:00,35.0,NaN,NaN,0.0
1,A1,Send Fine,2006-12-05 00:00:00,35.0,11.00,NaN,0.0
2,A100,Create Fine,2006-08-01 23:00:00,35.0,NaN,NaN,0.0
3,A100,Send Fine,2006-12-12 00:00:00,35.0,11.00,NaN,0.0
4,A100,Insert Fine Notification,2007-01-15 00:00:00,35.0,11.00,NaN,0.0
...,...,...,...,...,...,...,...
561465,V9999,Create Fine,2002-09-06 23:00:00,131.0,NaN,NaN,0.0
561466,V9999,Send Fine,2002-10-24 23:00:00,131.0,15.16,NaN,0.0
561467,V9999,Insert Fine Notification,2002-11-04 00:00:00,131.0,15.16,NaN,0.0
561468,V9999,Add penalty,2003-01-03 00:00:00,262.0,15.16,NaN,0.0
561469,V9999,Send for Credit Collection,2004-01-10 00:00:00,262.0,15.16,NaN,0.0

In [36]:
money_ish['duplicates'] = money_ish.groupby(["case", "event"]).transform('cumcount')
money_ish['new_event'] = money_ish.apply(lambda x: str(x['event']) if x['duplicates'] == 0 else str(x['event']) + ' ' + str(x['duplicates']),axis=1)
money_ish

,case,event,startTime,amount,expense,paymentAmount,totalPaymentAmount,duplicates,new_event
0,A1,Create Fine,2006-07-23 23:00:00,35.0,NaN,NaN,0.0,0,Create Fine
1,A1,Send Fine,2006-12-05 00:00:00,35.0,11.00,NaN,0.0,0,Send Fine
2,A100,Create Fine,2006-08-01 23:00:00,35.0,NaN,NaN,0.0,0,Create Fine
3,A100,Send Fine,2006-12-12 00:00:00,35.0,11.00,NaN,0.0,0,Send Fine
4,A100,Insert Fine Notification,2007-01-15 00:00:00,35.0,11.00,NaN,0.0,0,Insert Fine Notification
...,...,...,...,...,...,...,...,...,...
561465,V9999,Create Fine,2002-09-06 23:00:00,131.0,NaN,NaN,0.0,0,Create Fine
561466,V9999,Send Fine,2002-10-24 23:00:00,131.0,15.16,NaN,0.0,0,Send Fine
561467,V9999,Insert Fine Notification,2002-11-04 00:00:00,131.0,15.16,NaN,0.0,0,Insert Fine Notification
561468,V9999,Add penalty,2003-01-03 00:00:00,262.0,15.16,NaN,0.0,0,Add penalty
561469,V9999,Send for Credit Collection,2004-01-10 00:00:00,262.0,15.16,NaN,0.0,0,Send for Credit Collection

In [37]:
total_paymt = money_ish.copy()
total_paymt = total_paymt.groupby(['case'])['paymentAmount'].sum().reset_index()
total_paymt

          case  paymentAmount
0           A1           0.00
1         A100           0.00
2       A10000          87.00
3       A10001           0.00
4       A10004           0.00
...        ...            ...
150365   V9995           0.00
150366   V9996         146.16
150367   V9997           0.00
150368   V9998           0.00
150369   V9999           0.00

[150370 rows x 2 columns]

In [38]:
total_paymt[total_paymt['case'] == 'C13062']

         case  paymentAmount
24409  C13062          656.0

In [39]:
total_fine = money_ish.copy()
total_fine = total_fine[~total_fine.event.str.contains("Payment")]
total_fine = total_fine.groupby('case').tail(1)
total_fine['totalFine'] = total_fine['amount'] + total_fine['expense']
total_fine = total_fine[['case','totalFine']]
total_fine

          case  totalFine
1           A1      46.00
6         A100      82.50
10      A10000      87.00
17      A10001      87.00
22      A10004      87.00
...        ...        ...
561451   V9995     277.16
561453   V9996     141.00
561459   V9997     277.16
561464   V9998     272.00
561469   V9999     277.16

[150370 rows x 2 columns]

In [40]:
total_amount = total_fine.merge(total_paymt, on='case')
total_amount

          case  totalFine  paymentAmount
0           A1      46.00           0.00
1         A100      82.50           0.00
2       A10000      87.00          87.00
3       A10001      87.00           0.00
4       A10004      87.00           0.00
...        ...        ...            ...
150365   V9995     277.16           0.00
150366   V9996     141.00         146.16
150367   V9997     277.16           0.00
150368   V9998     272.00           0.00
150369   V9999     277.16           0.00

[150370 rows x 3 columns]

In [41]:
other_info = other_info.merge(total_amount, on='case')
other_info

,case,event,startTime,article,points,org:resource,vehicleClass,Revised_Law,Count,Cum_Duration,Case Duration,Variants,totalFine,paymentAmount
0,A1,Create Fine,2006-07-23 23:00:00,157,0,561,A,Before,1,0,134,3,46.00,0.00
1,A100,Create Fine,2006-08-01 23:00:00,157,0,561,A,Before,1,0,971,1,82.50,0.00
2,A10000,Create Fine,2007-03-09 00:00:00,157,0,561,A,Before,1,0,550,4,87.00,87.00
3,A10001,Create Fine,2007-03-19 00:00:00,157,0,537,A,Before,1,0,189,8,87.00,0.00
4,A10004,Create Fine,2007-03-20 00:00:00,157,0,537,A,Before,1,0,741,1,87.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150365,V9995,Create Fine,2002-09-06 23:00:00,142,0,25,A,Before,1,0,490,1,277.16,0.00
150366,V9996,Create Fine,2002-09-06 23:00:00,142,0,25,A,Before,1,0,60,7,141.00,146.16
150367,V9997,Create Fine,2002-09-06 23:00:00,142,0,25,M,Before,1,0,490,1,277.16,0.00
150368,V9998,Create Fine,2002-09-06 23:00:00,142,0,25,A,Before,1,0,490,1,272.00,0.00
150369,V9999,Create Fine,2002-09-06 23:00:00,142,0,25,A,Before,1,0,490,1,277.16,0.00

In [42]:
# other_info.to_csv('other_info.csv', index=False)

### Amount lost due to a successful appeal

If the appeal is successful, the case is dismissed and the dismissal value is set to G or #

In [43]:
value_needed = ['#','G']

In [44]:
successful_appeal = df.copy()
successful_appeal = successful_appeal[successful_appeal['dismissal'].isin(value_needed)].reset_index(drop=True)
successful_appeal['Total_Amount'] = successful_appeal['amount'] + successful_appeal['expense']
successful_appeal

,case,event,startTime,completeTime,amount,notificationType,expense,lastSent,paymentAmount,article,points,org:resource,dismissal,vehicleClass,totalPaymentAmount,matricola,Total_Amount
0,A10001,Send Appeal to Prefecture,2007-09-23 23:00:00,2007-09-23 23:00:00,74.0,P,13.0,P,NaN,157,0,537,#,A,0.0,NaN,87.0
1,A10102,Send Appeal to Prefecture,2007-10-24 23:00:00,2007-10-24 23:00:00,74.0,P,13.0,P,NaN,157,0,557,#,A,0.0,NaN,87.0
2,A10107,Send Appeal to Prefecture,2007-09-23 23:00:00,2007-09-23 23:00:00,74.0,P,13.0,P,NaN,157,0,557,#,A,0.0,NaN,87.0
3,A10236,Send Appeal to Prefecture,2007-10-01 23:00:00,2007-10-01 23:00:00,74.0,P,13.0,P,NaN,157,0,559,#,A,0.0,NaN,87.0
4,A10411,Send Appeal to Prefecture,2007-10-30 00:00:00,2007-10-30 00:00:00,44.0,P,13.0,P,NaN,7,0,541,#,A,0.0,NaN,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2138,V9464,Send Appeal to Prefecture,2003-01-08 00:00:00,2003-01-08 00:00:00,262.0,P,10.0,N,NaN,142,0,25,#,A,0.0,NaN,272.0
2139,V9635,Send Appeal to Prefecture,2003-01-07 00:00:00,2003-01-07 00:00:00,65.5,P,10.0,N,NaN,142,0,25,#,M,0.0,NaN,75.5
2140,V9684,Send Appeal to Prefecture,2003-04-06 23:00:00,2003-04-06 23:00:00,262.0,P,10.0,N,NaN,142,0,25,#,A,0.0,NaN,272.0
2141,V9766,Send Appeal to Prefecture,2003-02-15 00:00:00,2003-02-15 00:00:00,65.5,P,10.0,N,NaN,142,0,25,#,A,0.0,NaN,75.5
2142,V9791,Send Appeal to Prefecture,2003-01-08 00:00:00,2003-01-08 00:00:00,262.0,P,10.0,N,NaN,142,0,25,#,M,0.0,NaN,272.0

In [45]:
successful_appeal['expense'].sum()

28093.7

In [46]:
success_app = df.copy()
success_app.head(1)

,case,event,startTime,completeTime,amount,notificationType,expense,lastSent,paymentAmount,article,points,org:resource,dismissal,vehicleClass,totalPaymentAmount,matricola
0,A1,Create Fine,2006-07-23 23:00:00,2006-07-23 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN

In [47]:
success_app['event'].value_counts()

Create Fine                              150370
Send Fine                                103987
Insert Fine Notification                  79860
Add penalty                               79860
Payment                                   77601
Send for Credit Collection                59013
Insert Date Appeal to Prefecture           4188
Send Appeal to Prefecture                  4141
Receive Result Appeal from Prefecture       999
Notify Result Appeal to Offender            896
Appeal to Judge                             555
Name: event, dtype: int64

In [48]:
success_app[success_app['event'] == 'Send Appeal to Prefecture'].groupby(['event','dismissal']).count()
# success_app[success_app['dismissal'] != 'NIL'].groupby(['event','dismissal']).count()

                                     case  startTime  completeTime  amount  \
event                     dismissal
Send Appeal to Prefecture #          1980       1980          1980    1980
                          $             1          1             1       1
                          C             2          2             2       2
                          D             2          2             2       2
                          NIL        2156       2156          2156    2156

                                     notificationType  expense  lastSent  \
event                     dismissal
Send Appeal to Prefecture #                      1905     1976      1854
                          $                         1        1         1
                          C                         2        2         2
                          D                         2        2         2
                          NIL                    2080     2153      2037

                                     paymentAmount  article  points  \
event                     dismissal
Send Appeal to Prefecture #                      1     1980    1980
                          $                      0        1       1
                          C                      0        2       2
                          D                      0        2       2
                          NIL                   23     2156    2156

                                     org:resource  vehicleClass  \
event                     dismissal
Send Appeal to Prefecture #                  1980          1980
                          $                     1             1
                          C                     2             2
                          D                     2             2
                          NIL                2156          2156

                                     totalPaymentAmount  matricola
event                     dismissal
Send Appeal to Prefecture #                        1980          2
                          $                           1          0
                          C                           2          0
                          D                           2          0
                          NIL                      2156         27

In [49]:
# Variants
variants = df_copy.copy()
variants['Count'] = variants.groupby('case').cumcount()+1
variants = variants.pivot(index='case', columns='Count', values='event')
variants_col = variants.columns
variants = variants.fillna('X')
variants = variants.astype('str')
variants['Trace'] = variants.apply(lambda x: ','.join(x),axis=1)
variants['Trace'] = variants['Trace'].apply(lambda x: x.replace(',X',''))
# variants

variants_num = variants[['Trace',1]].groupby(['Trace'], as_index=False).count()
variants_num = variants_num.sort_values(by=1, ascending=False).reset_index()
del variants_num['index']
variants_num = variants_num.reset_index()
variants_num['index'] = variants_num['index']+1
variants_num = variants_num.rename(columns={'index':'Variants',1:'No of occurance'})
# variants_num

df_piv_2 = df_copy.copy()
df_piv_2['count'] = df_piv_2.groupby('case').cumcount()+1
df_piv_2 = df_piv_2.pivot(index='case', columns='count', values='event')


def last_activity(a):
    if a.last_valid_index() is None:
        return np.nan
    else:
        return a[a.last_valid_index()]

df_piv_2['Last_Event'] = df_piv_2.apply(last_activity, axis=1)
df_piv_2['First_Event'] = df_piv_2[1]
df_piv_2 = df_piv_2.drop(variants_col, axis=1)
df_piv_2  = df_piv_2.reset_index()
# df_piv_2

df_case = df_copy.copy()
df_case['count'] = df_case.groupby('case').cumcount() + 1
df_case = df_case.pivot(index='case', columns='count',values='startTime')
df_case['Max'] = df_case.apply(max, axis=1)
df_case['Case_Duration'] = (df_case['Max'] - df_case[1]).dt.days
df_case = df_case.drop(variants_col, axis=1)
df_case = df_case.reset_index()
# df_case

var_finale = variants.merge(df_piv_2, on='case')
var_finale = var_finale.drop(variants_col, axis=1)
var_finale = var_finale.merge(df_case, on='case').drop(['Max'], axis=1)
var_finale = var_finale.merge(variants_num, on='Trace').drop(['No of occurance','Trace'], axis=1)
# var_finale.to_csv('Liquidação por Arbitramento_variants.csv', index=False)
var_finale

,case,Last_Event,First_Event,Case_Duration,Variants
0,A1,Send Fine,Create Fine,134,3
1,A10012,Send Fine,Create Fine,133,3
2,A10041,Send Fine,Create Fine,130,3
3,A10045,Send Fine,Create Fine,130,3
4,A10054,Send Fine,Create Fine,131,3
...,...,...,...,...,...
150365,V8700,Send for Credit Collection,Create Fine,770,178
150366,V8809,Payment,Create Fine,448,140
150367,V9180,Payment,Create Fine,334,140
150368,V9576,Payment,Create Fine,797,149
150369,V9715,Payment,Create Fine,239,244

In [50]:
happ_path = df.merge(var_finale, on='case')
happ_path = happ_path[happ_path['Variants'] == 1].reset_index(drop=True)
happ_path

,case,event,startTime,completeTime,amount,notificationType,expense,lastSent,paymentAmount,article,points,org:resource,dismissal,vehicleClass,totalPaymentAmount,matricola,Last_Event,First_Event,Case_Duration,Variants
0,A100,Create Fine,2006-08-01 23:00:00,2006-08-01 23:00:00,35.0,NaN,NaN,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,971,1
1,A100,Send Fine,2006-12-12 00:00:00,2006-12-12 00:00:00,35.0,NaN,11.00,NaN,NaN,157,0,561,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,971,1
2,A100,Insert Fine Notification,2007-01-15 00:00:00,2007-01-15 00:00:00,35.0,P,11.00,P,NaN,157,0,561,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,971,1
3,A100,Add penalty,2007-03-16 00:00:00,2007-03-16 00:00:00,71.5,P,11.00,P,NaN,157,0,561,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,971,1
4,A100,Send for Credit Collection,2009-03-29 23:00:00,2009-03-29 23:00:00,71.5,P,11.00,P,NaN,157,0,561,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,971,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272170,V9999,Create Fine,2002-09-06 23:00:00,2002-09-06 23:00:00,131.0,NaN,NaN,NaN,NaN,142,0,25,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,490,1
272171,V9999,Send Fine,2002-10-24 23:00:00,2002-10-24 23:00:00,131.0,NaN,15.16,NaN,NaN,142,0,25,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,490,1
272172,V9999,Insert Fine Notification,2002-11-04 00:00:00,2002-11-04 00:00:00,131.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,490,1
272173,V9999,Add penalty,2003-01-03 00:00:00,2003-01-03 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,490,1
272174,V9999,Send for Credit Collection,2004-01-10 00:00:00,2004-01-10 00:00:00,262.0,P,15.16,N,NaN,142,0,25,NIL,A,0.0,NaN,Send for Credit Collection,Create Fine,490,1

In [51]:
happ_path22 = happ_path.copy()
happ_path22 = happ_path22[['case','startTime','event']]
happ_path22

         case           startTime                       event
0        A100 2006-08-01 23:00:00                 Create Fine
1        A100 2006-12-12 00:00:00                   Send Fine
2        A100 2007-01-15 00:00:00    Insert Fine Notification
3        A100 2007-03-16 00:00:00                 Add penalty
4        A100 2009-03-29 23:00:00  Send for Credit Collection
...       ...                 ...                         ...
272170  V9999 2002-09-06 23:00:00                 Create Fine
272171  V9999 2002-10-24 23:00:00                   Send Fine
272172  V9999 2002-11-04 00:00:00    Insert Fine Notification
272173  V9999 2003-01-03 00:00:00                 Add penalty
272174  V9999 2004-01-10 00:00:00  Send for Credit Collection

[272175 rows x 3 columns]

In [52]:
# Deriving the first and last activities of the cases to get the most frequent occuring start and end activities

activities_list = happ_path22.copy()
activities_list['count'] = activities_list.groupby('case').cumcount()+1
activities_list = activities_list.pivot(index='case', columns='count', values='event')
# activities_list_full

# Get the last valid index (last activity per case)
def func(x):
    if x.last_valid_index() is None:
        return np.nan
    else:
        return x[x.last_valid_index()]
    
activities_list['Last Activity'] = activities_list.apply(func, axis=1)
activities_list['First Activity'] = activities_list[1]
# activities_list

# Start Activities ccp
start_act = activities_list.groupby(['First Activity']).size()
start_act = start_act.to_frame(name='Weight').reset_index()
start_act['Start'] = 'Start'
start_act = start_act[['Start','First Activity','Weight']]
start_act = start_act.sort_values(by='Weight', ascending=False).reset_index(drop=True)
# start_act

# End Activities ccp
end_act = activities_list.groupby(['Last Activity']).size()
end_act = end_act.to_frame(name='Weight').reset_index()
end_act['End'] = 'End'
end_act = end_act[['Last Activity','End','Weight']]
end_act = end_act.sort_values(by='Weight', ascending=False).reset_index(drop=True)
# end_act

# Timing details
# newxox2_td = newxox2[['lawsuit_id','date','movement']]
sort11 = happ_path22.iloc[:-1,:]
sort22 = happ_path22.iloc[1:,:].reset_index(drop=True)
sortnew2 = pd.concat([sort11,sort22],axis=1)

sortnew2.columns = ['case','startTime','startEvent','case2','endTime','endEvent']
sortnew2['Comparison'] = sortnew2.apply(lambda x: True if x['case'] == x['case2'] else False,axis=1)
sortnew2 = sortnew2[sortnew2['Comparison'] == True]
# sortnew2

sortnewtimetest = sortnew2.copy()
sortnewtimetest['Duration'] = (sortnewtimetest['endTime'] - sortnewtimetest['startTime']).dt.days

sortnewtimetest = sortnewtimetest[['startEvent','endEvent','Duration']]
sortnewtimetest = sortnewtimetest.groupby(['startEvent','endEvent']).agg({'Duration': ['mean'],'startEvent':['count']}).reset_index()
sortnewtimetest.columns = ['startEvent','endEvent', 'Duration', 'Count']
sortnewtimetest['Duration'] = round(sortnewtimetest['Duration'],0)
sortnewtimetest['Duration'] = sortnewtimetest['Duration'].astype('int')

sortnewtimetest

                 startEvent                    endEvent  Duration  Count
0               Add penalty  Send for Credit Collection       526  54435
1               Create Fine                   Send Fine        87  54435
2  Insert Fine Notification                 Add penalty        60  54435
3                 Send Fine    Insert Fine Notification        19  54435

In [53]:
f = graphviz.Digraph('neato', format='png', encoding='utf8',
            filename='corleone', node_attr={'color': 'lightblue2', 'style': 'filled'})
f.attr('node', shape='box')

# create all the possible nodes first
# you can modify the `label` 

for index, row in start_act.iterrows():
    f.node(row['Start'],label=row['Start'] + '\n '+ str(row['Weight']))
    f.node(row['First Activity'],label=row['First Activity'] + '\n '+ str(row['Weight']))
#     ,_attributes={'color':'red' if row['S']=='M' else 'lightblue2'})

for index, row in start_act.iterrows():
    f.edge(str(row["Start"]), str(row["First Activity"]), label="")
#     f.edge(str(row["ParentID"]), str(row["ID"]), label='')

#####################################################

for index, row in sortnewtimetest.iterrows():
    f.node(row['startEvent'],label=row['startEvent'] + '\n '+ str(row['Count']))
    f.node(row['endEvent'],label=row['endEvent'] + '\n '+ str(row['Count']))
#     ,_attributes={'color':'red' if row['S']=='M' else 'lightblue2'})

for index, row in sortnewtimetest.iterrows():
    f.edge(str(row["startEvent"]), str(row["endEvent"]), label=" " + str(row["Duration"]) + " days")
#     f.edge(str(row["ParentID"]), str(row["ID"]), label='')

######################################################
for index, row in end_act.iterrows():
    f.node(row['Last Activity'],label=row['Last Activity'] + '\n '+ str(row['Weight']))
    f.node(row['End'],label=row['End'] + '\n '+ str(row['Weight']))


for index, row in end_act.iterrows():
    f.edge(str(row["Last Activity"]), str(row["End"]), label="")


    
f

In [54]:
# Deriving the first and last activities of the cases to get the most frequent occuring start and end activities

df_full = df.copy()
df_full = df_full[['case','startTime','event']]

activities_list_full = df_full.copy()
activities_list_full['count'] = activities_list_full.groupby('case').cumcount()+1
activities_list_full = activities_list_full.pivot(index='case', columns='count', values='event')
# activities_list_full

# Get the last valid index (last activity per case)
def func(x):
    if x.last_valid_index() is None:
        return np.nan
    else:
        return x[x.last_valid_index()]
    
activities_list_full['Last Activity'] = activities_list_full.apply(func, axis=1)
activities_list_full['First Activity'] = activities_list_full[1]
# activities_list

# Start Activities ccp
start_act_full = activities_list_full.groupby(['First Activity']).size()
start_act_full = start_act_full.to_frame(name='Weight').reset_index()
start_act_full['Start'] = 'Start'
start_act_full = start_act_full[['Start','First Activity','Weight']]
start_act_full = start_act_full.sort_values(by='Weight', ascending=False).reset_index(drop=True)
# start_act

# End Activities ccp
end_act_full = activities_list_full.groupby(['Last Activity']).size()
end_act_full = end_act_full.to_frame(name='Weight').reset_index()
end_act_full['End'] = 'End'
end_act_full = end_act_full[['Last Activity','End','Weight']]
end_act_full = end_act_full.sort_values(by='Weight', ascending=False).reset_index(drop=True)
# end_act

# Timing details
# newxox2_td = newxox2[['lawsuit_id','date','movement']]
sort11_full = df_full.iloc[:-1,:]
sort22_full = df_full.iloc[1:,:].reset_index(drop=True)
sortnew2_full = pd.concat([sort11_full,sort22_full],axis=1)

sortnew2_full.columns = ['Case','Start Time','Start Event','Case_2','End Time','End Event']
sortnew2_full['Comparison'] = sortnew2_full.apply(lambda x: True if x['Case'] == x['Case_2'] else False,axis=1)
sortnew2_full = sortnew2_full[sortnew2_full['Comparison'] == True]
# sortnew2

sortnewtime_full = sortnew2_full.copy()
sortnewtime_full['Duration'] = (sortnewtime_full['End Time'] - sortnewtime_full['Start Time']).dt.days

sortnewtime_full = sortnewtime_full[['Start Event','End Event','Duration']]
# sortnewtime_full['Duration'] = sortnewtime_full['Duration'].apply(lambda x: round(x.total_seconds(),0))
sortnewtime_full = sortnewtime_full.groupby(['Start Event','End Event']).agg({'Duration': ['mean'],'Start Event':['count']}).reset_index()
sortnewtime_full.columns = ['Start Event','End Event', 'Duration', 'Count']
sortnewtime_full['Duration'] = round(sortnewtime_full['Duration'],0)
sortnewtime_full['Duration'] = sortnewtime_full['Duration'].astype('int')

sortnewtime_full

,Start Event,End Event,Duration,Count
0,Add penalty,Appeal to Judge,77,80
1,Add penalty,Insert Date Appeal to Prefecture,38,658
2,Add penalty,Notify Result Appeal to Offender,69,53
3,Add penalty,Payment,161,18621
4,Add penalty,Receive Result Appeal from Prefecture,50,351
...,...,...,...,...
68,Send Fine,Insert Date Appeal to Prefecture,35,281
69,Send Fine,Insert Fine Notification,18,76864
70,Send Fine,Payment,50,3305
71,Send Fine,Send Appeal to Prefecture,23,4
72,Send for Credit Collection,Send Appeal to Prefecture,824,16

In [55]:
Hfull = graphviz.Digraph(format='png')

Hfull.attr(rankdir='TB')
Hfull.attr('node', shape='rectangle', width='0', height='0')
Hfull.attr('edge', arrowhead='vee', arrowtail='inv')

max_node = 3
max_start_act = start_act_full['Weight'].max()

nodelistfull = []
for idx, row in start_act_full.iterrows():
    node112, node222, weight222 = [str(i) for i in row]
    
    if node112 not in nodelistfull:
        Hfull.node(node112, style='filled', fillcolor='green', fontcolor='green', shape='rectangle')
        nodelistfull.append(node222)
    if node222 not in nodelistfull:
        Hfull.node(node222)
        nodelistfull.append(node222)
        
    Hfull.edge(node112, node222, label = 'Count: '+ weight222, penwidth=str(int(weight222)/max_start_act*max_node))
    
max_case_id = sortnewtime_full['Count'].max()    
nodelistfull_2 = []
for idx, row in sortnewtime_full.iterrows():
    node11, node22, duration, count = [str(i) for i in row]
    
    if node11 not in nodelistfull_2:
        Hfull.node(node11)
        nodelistfull_2.append(node22)
    if node22 not in nodelistfull_2:
        Hfull.node(node22)
        nodelistfull_2.append(node22)
        
    Hfull.edge(node11, node22, label = 'Count: '+ count + '\nDuration: ' + duration, labeljust='l', labeldistance='2.5', labelangle='20', penwidth=str(int(count)/max_case_id*max_node))

max_end_act = end_act_full['Weight'].max()
nodelistfull_3 = []
for idx, row in end_act_full.iterrows():
    node113, node223, weight333 = [str(i) for i in row]
    
    if node113 not in nodelistfull_3:
        Hfull.node(node113)
        nodelistfull_3.append(node223)
    if node222 not in nodelistfull_3:
        Hfull.node(node223, style='filled', fillcolor='red', fontcolor='red', shape='rectangle')
        nodelistfull_3.append(node223)
        
    Hfull.edge(node113, node223, label = 'Count: '+ weight333, penwidth=str(int(weight333)/max_end_act*max_node))
# Hfull.render('Italyy', view=True)
Hfull